.background {
    position: relative;
    background-image: url('/tekito1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.background > * {
    position: relative;
    z-index: 2;
}

.leftPanel {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 24%;
    height: calc(95vh - 180px - 80px);
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.prizeDistribution {
    margin-top: 30px;
    max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: #FFFFFF;
}

.prizePool {
    margin-top: 200px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);    
}

.prizeValue {
    max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: #FFFFFF;
}

/* 右側のパネル */
.rightPanel {
    position: absolute;
    top: 60px;
    right: 30px;
    width: 24%;
    height: calc(95vh - 180px - 80px);
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.level {
    max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4vw;
    font-weight: bold;
    color: #FFFFFF;
}

.rightlabel {
    margin-top: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.rightdist {
    max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: #FFFFFF;
}

.bottomPanel {
    position: absolute;
    bottom: 10px;
    width: 1860px;
    height: 180px;
    border: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    width: calc(1860px / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.withDivider {
    border-left: 2px solid #fff;
}

.label {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 8%;
    text-align: center;
}

.ratio {
    margin-top: 70px;
    max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: #FFFFFF;
}

.tournamentTitle {
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 60px;
    font-size: 2vw;
    font-weight: bold;
    color: #FFFFFF;
}

.timerDisplay {
    margin: auto;
    max-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14vw;
    font-weight: bold;
    color: #FFFFFF;
}